<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>(Not just)Daily cat fact app</title>
  </head>
  <body>
    <h1>Get you random daily cat fact</h1>
    <!-- <p id="info"></p>
    <p id="comTest"></p> -->
    <p id="catFact"></p>
    <p id="isLoading"></p>
    <button id="factReload">Get new fact</button>
  </body>
  <script src="../renderer.js"></script>
</html>
